TELEGRAM_BOT_TOKEN=8606201036:AAEwXujZnL6ovz7dyeZcguLHZZ8znoEtQHY
GEMINI_API_KEY=AIzaSyCqe18c6JPbybkh6mw8vm1Su8OXxWP1mFs
UPSTASH_REDIS_REST_URL=https://game-manatee-124918.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAef2AAIgcDExZWZhODNmNmE4ZTA0ODY0YTU3ZDYzOTdhMTBhMzAyYQ
